.articleCard {
  background-color: #f9dede;
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-areas: "vote title title" " vote info info";
  grid-gap: 10px;
  padding: 10px;
  margin: 5px;
}

.voter {
  grid-area: vote;
}

.articleTitle {
  grid-area: title;
}

.articleInfo {
  grid-area: info;
}
