.commentCard {
  background-color: rgb(219, 219, 219);
  display: grid;
  grid-template-columns: 50px auto 50px;
  grid-template-areas: "vote comment comment" "vote info deleteButton";
  grid-gap: 10px;
  padding: 10px;
  margin: 5px;
}

.voter {
  grid-area: vote;
}

.commentBody {
  grid-area: comment;
}

.commentInfo {
  font-size: 12px;
  grid-area: info;
}

.commentDeleter {
  font-size: 11px;
  grid-area: deleteButton;
  background: none;
  border: none;
  padding: 0;
  color: rgb(27, 8, 196);
  text-decoration: underline;
  cursor: pointer;
}

.number {
  font-size: 15px;
  font-weight: bold;
}
