.App {
  text-align: center;
}

li {
  list-style-type: none;
  background-color: rgb(241, 241, 241);
}

.Header {
  background-color: rgb(175, 175, 175);
}

.article {
  background-color: rgb(189, 245, 192);
}

.articleCard {
  background-color: rgb(189, 245, 192);
}

.commentCard {
  background-color: rgb(198, 191, 238);
  display: grid;
  grid-template-columns: 100px auto 50px;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.commentVoter {
  grid-area: 1/1/4/2;
}

.commentBody {
  grid-area: 1/2/3/4;
  justify-content: center;
}

.commentInfo {
  grid-area: 3/2/4/3;
  justify-content: flex-end;
}

.commentDeleter {
  grid-area: 3/3/4/4;
}
.dropbtn {
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 3px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbarUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbarLi {
  float: left;
}

.navbarButton:hover {
  background-color: rgb(200, 200, 200);
}

.navbarButton {
  border: none;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.voteButton {
  border: none;
}

.upvoteButtonClicked {
  border: none;
  opacity: 0.4;
  background-color: rgb(243, 213, 78);
  cursor: not-allowed;
}

.downvoteButtonClicked {
  border: none;
  opacity: 0.4;
  background-color: rgb(71, 43, 226);
  cursor: not-allowed;
}
